body {
  background-color: #f9f7fe;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}
.App-logo {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.App h1 {
  font-family: "Playfair Display", serif;
  color: #272142;
}

.App .icon {
  margin-left: 20px;
}

.App footer {
  font-size: 11px;
  margin: 20px 0;
  color: #272142;
}
.App footer a {
  color: #97cba9;
}
