.App-header {
  margin: 30px 0;
}
.App-logo {
  max-width: 100px;
  margin: 0 auto;
  display: block;
}

.App h1 {
  font-family: "Playfair Display", serif;
}

.App footer {
  text-align: center;
  margin: 30px 0;
}
