.Audio {
  display: inline;
}

.Audio .sound {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: #f8cab0;
  font-size: 20px;
}

.Audio .sound:hover {
  cursor: pointer;
  color: #97cba9;
}
